body {
	font-family: arial;
	background-color:  #E0E0E0;
}

/*
.navbar-nav  .navbar-default > a {
	color: white;
	font-weight: bold;
	padding: 10px 10px 10px;

}
*/

.navbar {
	min-height: 30px;
	background-color: transparent;
	border: none;
	font-weight: bold;
}
.navbar .navbar-nav {
	float:right;
}

.navbar-default .navbar-nav > li > a{
	padding-top: 5px;
	padding-bottom: 5px;
	color: #E9E9E9;
}

.navbar-default .navbar-nav > li > a:hover {
	background-color: white;
	border: 2px;
	border-color: black;
	border-radius: 5px;
	height: 30px;
	opacity: 0.5;
}

/*
 .navbar  {
	background-color: transparent;
	height: 20px;
	border: none;
	
}
*/

.jumbotron {
	/* background-image: url('http://pryorbae.com/img/earlyShrimp.jpg'); */
	opacity: 0;
	height: 450px;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	padding-bottom: 20px;
}

.jumbotron h1 {
	float: right;
	width: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	 
}
.jumbotron h2 {
	float: right;
	font-size: Open Sans, sans-serif;
	font-weight: 600;
	margin-right: 10px;
}

.footer {
	position: absolute;
	background-color: #f5f5f5f5;
	bottom: 0;
	width: 100%;
	height: 60px;


	/* for use with non-sticky footer
	
	margin-top: 50px;
	padding-bottom: 20px;
	padding-top: 20px;
	*/
}

.blurbs {
	padding-top: 50px;
}
.blurbs .col-lg-4 {
	text-align: center;
	margin-bottom: 20px;
}

.blurbicons {
	border-radius: 25px;
	height: 140px;
	width: auto;
	margin: auto;

}

