body {
	font-family: arial;
}

.nav {
  float: right;
}
.nav a {
	color: Grey;
	position: left;
	width: 100px;
	display: inline;
	font-weight: bold;
	padding: 20px;
	
}

.nav li {
	display: inline;
}

.header {
	color: navy;
	position: left;
	font-weight: bold;
	text-align: center;
	clear:both;
}