body {
	font-family: arial;
	color: black;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	font-weight: bold;


}

.navbar-default .navbar-nav > li > a:hover {
	background-color: #B8DBFF;
}

.navbar-default {
	background: #B0B0B0;
}

.jumbotron {
	background-image: url('http://pryorbae.com/img/earlyShrimp.jpg');
	height: 450px;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.jumbotron h1 {
	float: right;
	width: 0 auto;

	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	 
}
.jumbotron h2 {
	float: right;
	font-size: 'Open Sans', sans-serif;
	font-weight: 600;
	margin-right: 10px;
}

.footer {
	
}